<script>
        var el = new Everlive('IMregDJC77R1b1yM');

        /****finding lat long from the given address****/

        var geocoder;
        var latti;
        var longi;

        function codeAddress()
        {
            //alert("in codeAddress()");
            geocoder = new google.maps.Geocoder();
            var address = document.getElementById("postLocation").value;
            
            geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) 
            {
                console.log("position is : "+results[0].geometry.location);
                console.log("position lat is : "+results[0].geometry.location.lat());
                console.log("position long is : "+results[0].geometry.location.lng());
                
                latti = results[0].geometry.location.lat();
                longi = results[0].geometry.location.lng();
                $("#lattitude").val(latti);
                $("#longitude").val(longi);
                console.log("lattitude is. . . . : "+ $("#lattitude").val());
                console.log("longitude is . . . : "+ $("#longitude").val());

                startRead();
            } 
            else 
            {
                alert("Location not found. Please enter correct location. Error Status : " + status);
            }
            }); //function

        }//codeAddress()

        /******lat long fetching done here*******/

        function startRead(evt)
        {
            var file = document.getElementById('postPicture').files[0];
            
            //alert("In startRead Function "+file);
            
            if (file)
            {
                if (file.type.match("image.*"))
                {
                    getAsImage(file);
                    //alert("Name: " + file.name + "\n" + "Last Modified Date :" + file.lastModifiedDate);
                }
            }
        }

        function getAsImage(readFile)
        {
            var reader = new FileReader();
            reader.readAsDataURL(readFile);
            reader.onload = addImg;
        }

        function addImg(imgsrc)
        {
            //alert("image path is "+imgsrc.target.result);

            //alert("IN ADD ITEM");
            //alert("Path "+$( "#postPicture" ).val());
            var name = $( "#postPicture" ).val();
            //alert("name is "+name);
            var index = name.lastIndexOf('\\');
            //alert("index is "+index);
            var filename = name.substring(index+1);
            //alert("filename is "+filename);
             
           // alert("Filename "+filename);

            var mimeMap = {
                jpg  : "image/jpeg",
                jpeg : "image/jpeg",
                png  : "image/png",
                gif  : "image/gif"
            };

            var ext = filename.substr(name.lastIndexOf('.') + 1);
            var mimeType = mimeMap[ext];

            if(mimeType) {

                var file = 
                {
                    "Filename": "",
                    "ContentType": "",
                    "CustomField": "",
                    "base64": ""
                };

                 file["Filename"]=filename;
                 file["ContentType"]=mimeType;
                 file["CustomField"]="customValue";
                 file["base64"]=imgsrc.target.result;

                 //alert("Value in struct :"+file["Filename"]);

                 el.Files.create(file,
                 function (data)
                 {
                    console.log(JSON.stringify(data));
                 },
                 function (error)
                 {
                    console.log(JSON.stringify(error));
                 });
             }             
            savePost();
            getDetails();
        }
    </script>

<!--BestBuy-screen-->
<div id="BestBuy-screen" data-role="view" data-title="Post?">
    <header data-role="header">
        <div data-role="navbar">
            Best Buy
            <a data-role="backbutton" data-align="left" class="bck-btn-search">back</a>
        </div>
    </header>
    <ul id="bestBuyListView" data-role="listview" data-style="inset" data-type="group">

        <li style="background-color:#5490CC;color:white;">
            What's on sale?
            <ul>

                <li style="color:black;">
                    <label>Title
                        <input type="text" id="postTitle"/>
                    </label>
                </li>
                <li style="color:black;">
                    <label>Item Category
                                        <!-- <input type="text" id="postCategory"/> --> 
                       <select id="postCategory">
                            <option>-select category-</option>
                            <option>Mobiles and Tablets</option>
                            <option>Electronics and Computers</option>
                            <option>Vehicles</option>
                            <option>Home and Furniture</option>
                            <option>Fashion and Beauty</option>
                            <option>Kids Products</option>
                            <option>Real Estate</option>
                        </select>
                    </label>
                </li>
                <li style="color:black;">
                    <label>Description
                        <input type="text" id="postDescription"/>
                    </label>
                </li>
                <li style="color:black;">
                    <a>Sale End Date </a>
                    <input id="saleEndDate" type="date"/>
                </li>

                <li style="color:black;">
                <!-- browsing file -->
                    <input type="file" id="postPicture"/> Attach a photo
   
                </li>

                <li style="color:black;">
                    <label>Price</label>
                    <input type="text" id="postPrice" />
                </li>

                <li style="color:black;">
                    <label>Location</label>
                    <!-- <button  id="btn-track-me" onclick="init()">Track me</button> -->
                    <input type="text" id="postLocation" />
                </li>

                    <input id="lattitude" type="hidden" />
            
                    <input id="longitude" type="hidden" />
            </ul>
        </li>
    </ul>
    
    <div style="text-align:center;display:block;">
            <!-- <a data-role="button" onclick="startRead()" id="btn-post" style="bottom:-185px;">POST</a> -->
            <a data-role="button" onclick="codeAddress()" id="btn-post" style="background-color:#46A541;color:#FCFCFC;width:10%;">POST</a>
    </div>

    <!-- footer -->
    <div data-role="footer">
        <!-- tabstrip -->
        <div data-role="tabstrip">
            <a style="color:black;" href="index.html" data-icon="search">Home</a>

            <a style="color:black;" href="views/postOptionScreen.html"><i style="color:black;"
                                                                          class="fa fa-map-marker fa-3x"></i><br/>Post</a>
            <a style="color:black;" href="views/map.html"><i style="color:black;"
                                                             class="fa fa-location-arrow fa-3x"></i><br/>Near Me</a>
            <a style="color:black;" href="views/Favorite-Screen.html"><i style="color:black;"
                                                                         class="fa fa-star-o fa-3x"></i><br/>favorite</a>
            <a style="color:black;" href="views/Refine-Search.html" data-icon="settings">Setting</a>
        </div>
    </div>
</div>

