<div data-role="view" id="mapsview" data-title="MAPView">

    <div data-role="header">
        <div style="color:black;" data-role="navbar">
        
            
            <a style="color:black;" class="backbtn" data-align="left"
               data-role="backbutton">Back</a>
        </div>        
        </div>
    
    
        <div id="mapDiv"></div>

    <!-- footer -->
    <div data-role="footer">
        <!-- tabstrip -->
        <div data-role="tabstrip">
            <a style="color:black;" href="index.html" data-icon="search">Home</a>

            <a style="color:black;" href="views/postOptionScreen.html"><i style="color:black;"
                                                                          class="fa fa-map-marker fa-3x"></i><br/>Post</a>
            <a style="color:black;" href="views/map.html"><i style="color:black;"
                                                             class="fa fa-location-arrow fa-3x"></i><br/>Near Me</a>
            <a style="color:black;" href="views/Favorite-Screen.html"><i style="color:black;"
                                                                         class="fa fa-star-o fa-3x"></i><br/>favorite</a>
            <a style="color:black;" href="views/Refine-Search.html" data-icon="settings">Setting</a>
        </div>
    </div>
    <!-- ./ end of footer -->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB0w8xqqbg1CdFkP2QUTF54iUEBK860fk">
 
</script>

<script type="text/javascript">
    function initialize(){
        var mapOptions={
            center:new google.maps.LatLng(0,0),
            zoom:4
        };

        var map = new google.maps.Map(document.getElementbyId("mapDiv"),mapOptions);
    }
    google.maps.event.addDomListener(window,"load",initialize);
</script>

</div>