<div data-role="view" id="map" data-title="Map" data-show="showMap" data-stretch="true">
<div>
<div id="map_canvas" style="width: 100%; height: 100%; position: absolute;">
</div>

</div>
<script type="text/javascript">

function showMap() {
 
navigator.geolocation.getCurrentPosition(
onSuccessShowMap,
onErrorShowMap
);
 
}

var latlng = new google.maps.LatLng(
	position.coords.latitude,
	position.coords.longitude);

	var mapOptions = {
		sensor:true,
		center:latlng,
		panControl:false,
		zoomControl:true,
		zoom:16,
		mapTypeId:google.maps.MapTypeId.ROADMAP,
		streetViewControl:false,
		mapTypeControl:true,
	};

	var map=new google.maps.Map(
		document.getElementById('map_canvas'),mapOptions);

	var marker = new google.maps.Marker({
		position:latlng,
		map:map
	});

function onSuccessShowMap(position) {
 
var latlng = new google.maps.LatLng(
position.coords.latitude,
position.coords.longitude);
 
var mapOptions = {
 
sensor: true,
center: latlng,
panControl: false,
zoomControl: true,
zoom: 16,
mapTypeId: google.maps.MapTypeId.ROADMAP,
streetViewControl: false,
mapTypeControl: true,
 
};
 
var map = new google.maps.Map(
document.getElementById('map_canvas'),
mapOptions
);
 
var marker = new google.maps.Marker({
position: latlng,
map: map
});

}

function onErrorShowMap(error) {
 
alert("error");
}
</script>
</div>

