<div data-role="view" id="signup1" data-layout="default" class="signup-view">
    <div data-role="header">
        <div data-role="navbar">
            Sign up
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
        </div>
    </div>
    <form id="signUp">
        <ul id="signup-form" data-role="listview" data-style="inset">
            <li style="background-color:#5490CC;color:white;">
                Create an account
            </li>
            <li style="background-color:#5490CC;color:white;">
                Do you really want to remember an another password?
            </li>
            <li style="color:black;">
                <p><a href="www.facebook.com"></a>Sign up with facebook</p>
            </li>
            <li style="color:black;">
                <p>
                <h4 data-align="center">Don't Worry,We will not do anything without asking you</h4>
                </p>
            </li>

            <li style="background-color:#4EB848;color:white;">Sign Up</li>
        <li style="background-color:#5490CC;color:white;">Or you can remember another password.:)</li>

            <li>
                <label>Name:</label>
                <input type="text" id="signupName" data-bind="value: DisplayName" placeholder="Name" required/>
            </li>
            <li>
                <label>Email:</label>
                <input type="email" id="signupEmail" data-bind="value: Email" placeholder="Email"/>
            </li>
            <li>
                <label>Username:</label>
                <input type="text" id="signupUsername" data-bind="value: Username" placeholder="Username" required/>
            </li>
            <li>
                <label>Password:</label>
                <input type="password" id="signupPassword" data-bind="value: Password" placeholder="Password" required/>
            </li>
            <li>
                <label>Date Of Birth:</label>
                <input type="date" id="signupBirthDatePicker" data-bind="value: BirthDate"/>
            </li>
            <li class="select-wrp">
                <label>Gender:</label>
                <select id="signupGenderPicker" data-bind="value: Gender">
                    <option value="0" selected>Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </li>

        </ul>
    </form>
    <div id="signupBtnWrp" class="signup-btn-wrp" style="background-color:#4EB848;color:white;text-align:center;">
        <a class="btn btn-signup" data-role="button" data-click="signup">Register</a>
    </div>
</div>
