<div data-role="view" id="single-activity" data-layout="default" class="activity-view" data-init="app.Activity.init" data-show="app.Activity.show">

	<div data-role="header">
        <div style="color:black;" data-role="navbar">
            Item Information
            <a style="color:black;" class="nav-button nav-button-back hide-text" data-align="left"
               data-role="backbutton">Back</a>
        </div>
    </div>

    <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">
        <!-- <div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
        </div> -->
        <div class="activity-content">
            <!-- <h2 id="personName" class="person-name" data-bind='text: User().DisplayName'></h2> -->
            <b>Posted on : </b><span id="PostDate" class="time-span" data-bind="text: CreatedAtFormatted"></span><br/>
            <b>Title : </b><span id="PostTitle" data-bind="text: Title" class="user-share-txt"></span><br/>
            <b>Description : </b><span id="PostDesc" data-bind="text: Description" class="post-Description"></span><br/>
            <b>Price : </b><span id="PostPrice" data-bind="text: Price" class="post-Price"></span><br/>
            <b>Item Category : </b><span id="PostTitle" data-bind="text: ItemCategory" class="Post-Item-Category"></span><br/>
            <b>Availablt at : </b><span id="LocationName" data-bind="text: LocationName" class="Post-Location-Name"></span><br/>
            <b>Sale Ends : </b><span id="PostSaleEnd" data-bind="text: SaleEndDate" class="Sale-End-Date"></span><br/>
            <img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%" height="500px" />
        </div>

        <a style="color:black;" class="nav-button nav-button-back hide-text" data-align="right" data-role="button" href="itemMap">Map View</a>
    </div>

    <!-- footer -->
    <div data-role="footer">
        <!-- tabstrip -->
        <div data-role="tabstrip">
            <a style="color:black;" href="index.html" data-icon="search">Home</a>

            <a style="color:black;" href="views/postOptionScreen.html"><i style="color:black;"
                                                                           class="fa fa-map-marker fa-3x"></i><br/>Post</a>
            <a style="color:black;" href="views/map.html"><i style="color:black;"
                                                             class="fa fa-location-arrow fa-3x"></i><br/>Near Me</a>
            <a style="color:black;" href="views/Favorite-Screen.html"><i style="color:black;"
                                                                         class="fa fa-star-o fa-3x"></i><br/>favorite</a>
            <a style="color:black;" href="views/Refine-Search.html" data-icon="settings">Setting</a>
        </div>
    </div>

</div>

<!-- Comments Template -->
<script type="text/x-kendo-template" id="commentsTemplate">
    <div class="comment-content">
        
        <span class="time-span">${CreatedAtFormatted()}</span>
        
    </div>
</script>
